/target
/Cargo.lock
/circuit/Prover.toml
/circuit/Verifier.toml
/Prover.toml
/Verifier.toml
/contracts/.env
/circuits/client-proof/proofs/p.proof
/circuits/client-proof/Prover.toml
/.env
/nouns-protocol/Cargo.lock
/nouns-cli/Cargo.lock
/nouns-cli/target/
/nouns-protocol/target/
